<article class="p-1 m-1 rounded shadow-lg bg-slate-300">
  <p class="text-black ">
    <%= comment.content %>
  </p>
  <div class="mb-1 text-black">
    <%= comment.updated_at %>
  </div>
  <footer>
    <%= link_to "Edit" ,"#", class: "text-black btn-ok"%>
    <%= link_to "Delete", comment_path(comment.id), method: 'delete', data:{confirm: "Are you sure?"} , class: "text-black btn-danger"%>
  </footer>
</article>
